/* Styles for hero section */
#hero {
    position: relative;
    text-align: center;
    /*padding: 100px 20px;*/    
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black overlay with 30% opacity */
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#subtitle-header {
    font-size: 24px;
    font-weight: 300;
    color: #ffffff; /* White color for subtitle */
    margin-top: 20px;
    opacity: 0;
    animation: fadeInUp 3s forwards;
}

@media screen and (min-width: 768px) {
    #subtitle-header {
        font-size: 32px;
    }
}

.first-line, .second-line {
    font-size: 50px; 
    font-weight: bold;
    /*color: #ffcc00; */
    color:white;
    margin: 0;
    padding: 0;
    transform: translateX(-100%);
}

@media screen and (min-width: 768px) {
    .first-line, .second-line {
        font-size: 100px; /* Increase font size for larger screens */
    }
}

.first-line {
    animation: slideFromLeft 2s forwards;
}

.second-line {
    animation: slideFromRight 2s forwards;
}

/* Keyframes for slide in animation from left */
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-10%); /* Bring first line to the middle of the screen */
    }
}

/* Keyframes for slide in animation from right */
@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(12%); /* Bring second line to the middle of the screen */
    }
}

/* Keyframes for fade-in up animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styles for arrow-icon */
.material-icons {
    position: absolute;
    font-size: 36px;
    left: 50%;
    color: #fff;
    animation: shakeArrow 0.5s infinite alternate;
}

.button-container {
    position: relative;
    width: 100%;
}

@keyframes shakeArrow {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-50%) translateY(10px);
    }
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #333;
    border: 2px solid #ffcc00;
    border-radius: 20px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    bottom: 20vh;
    margin-top: 60px;
    z-index: 3;
}

.cta-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
