html {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
}

.container, .containerH {
    overflow-x: hidden;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0; 
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
}

footer {
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text color */
    padding: 10px 0;
}

a {
    color: #fff; /* White link color */
    text-decoration: none;
}

#hero, #about, #services, #portfolio, #team, #impact, #contact {
    /*height: 100vh;*/
    padding: 50px 0;
}
#hero {
    height: 100vh;
    padding: 50px 0;
}

#hero, #services, #team, #contact {
    background-color: #333; /* Dark gray background */
}

#about, #portfolio, #impact {
    background-color: #fff; /* White background */
}

h2 {
    margin-top: 0;
}
